<center> <h1>Universidad Nacional de San Agustín de Arequipa</h1> </center> 
<center> <h1>Escuela Profesional de Ingeniería de Telecomunicaciones</h1> </center> 

<center> <h1> </h1> </center> 

<center><img src="https://user-images.githubusercontent.com/19308295/115939517-f1c6fe80-a463-11eb-989c-812ab4942586.png" width="380" height="4200"></center>

<center> <h2>Ingeniero Renzo Bolivar - Docente DAIE</h2> </center>

<center> <h1>Curso : Computación 2</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

<center> <h2>Integrantes: </h2> </center> 

<h1>

- Butrón Benites Ricardo Alonso

- Lupaca Sancja Damaris Dana

- Quea Carlo Kevin Baltazar

- Zapata Mestas Emmauel Zapata

</h1>

## Librerías a utilizar

In [5]:
#Se importan la librerias a utilizar
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
import graphviz
import matplotlib.pyplot as plt

## LINK DATOS
https://www.kaggle.com/datasets/luisdiegofv97/imdb-dataset-of-50k-movie-reviews-spanish

## Importación de datos

In [9]:
dataset = pd.read_csv("data/test.csv")

In [10]:
dataset.head()

   Feature_1  Feature_2  Feature_3  Feature_4  Feature_5  Feature_6  Activity
0  -1.028626  -0.105919  -0.264525  -1.235359  -0.162986  -0.483125       1.0
1  -1.046406  -0.061666  -0.255959  -1.074173  -0.275747  -0.387487       1.0
2  -1.009987  -0.054528  -0.205398  -0.803832  -0.282078  -0.316955       1.0
3  -0.988288  -0.080090  -0.184195  -0.735864  -0.302880  -0.239320       1.0
4  -0.933698  -0.110635  -0.185413  -0.703047  -0.189211  -0.102410       1.0

In [13]:
dataset.tail()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Activity
1193327,-1.028311,-0.001951,0.000414,-1.004302,0.028621,-0.080702,3.0
1193328,-1.032170,0.013994,-0.000395,-0.988862,0.018858,-0.079051,3.0
1193329,-1.030855,0.015393,0.000422,-0.994323,0.024769,-0.080680,3.0
1193330,-1.031453,0.016756,-0.000518,-0.997044,0.019952,-0.078802,3.0
1193331,-1.031150,0.003816,0.000757,-1.005943,0.023212,-0.081320,3.0

`unos=positivo y dos=negativo`

## Exploración de datos

### Tamaño Dataframe

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1193332 entries, 0 to 1193331
Data columns (total 7 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Feature_1  1193332 non-null  float64
 1   Feature_2  1193332 non-null  float64
 2   Feature_3  1193332 non-null  float64
 3   Feature_4  1193332 non-null  float64
 4   Feature_5  1193332 non-null  float64
 5   Feature_6  1193332 non-null  float64
 6   Activity   1193332 non-null  float64
dtypes: float64(7)
memory usage: 63.7 MB

In [20]:
dataset.dtypes

Feature_1    float64
Feature_2    float64
Feature_3    float64
Feature_4    float64
Feature_5    float64
Feature_6    float64
Activity     float64
dtype: object

In [22]:
dataset.shape

(1193332, 7)

In [24]:
dataset.count()

Feature_1    1193332
Feature_2    1193332
Feature_3    1193332
Feature_4    1193332
Feature_5    1193332
Feature_6    1193332
Activity     1193332
dtype: int64

In [26]:
dataset.isnull().sum()

Feature_1    0
Feature_2    0
Feature_3    0
Feature_4    0
Feature_5    0
Feature_6    0
Activity     0
dtype: int64

In [28]:
dataset.columns

Index(['Feature_1', 'Feature_2', 'Feature_3', 'Feature_4', 'Feature_5',
       'Feature_6', 'Activity'],
      dtype='object')

In [30]:
dataset['Activity'].unique()

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,  13.,  14., 130.,
       140.])

In [32]:
dataset.describe()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Activity
count,1.193332e+06,1.193332e+06,1.193332e+06,1.193332e+06,1.193332e+06,1.193332e+06,1.193332e+06
mean,-8.569865e-01,-1.725394e-02,-1.459950e-01,-6.034325e-01,2.123590e-02,3.234299e-01,7.086062e+00
std,4.259054e-01,2.475056e-01,3.849583e-01,6.480857e-01,3.964484e-01,7.628647e-01,1.237695e+01
min,-5.827393e+00,-3.596436e+00,-4.907959e+00,-8.000000e+00,-6.395020e+00,-8.000000e+00,1.000000e+00
25%,-1.001247e+00,-9.533025e-02,-3.434160e-01,-9.750970e-01,-7.926225e-02,-2.100913e-01,3.000000e+00
50%,-9.728410e-01,-1.263000e-03,-1.189475e-01,-4.363245e-01,4.267150e-02,4.370120e-01,7.000000e+00
75%,-7.676950e-01,6.469500e-02,5.957000e-02,-1.372950e-01,1.584820e-01,9.545250e-01,7.000000e+00
max,1.636198e+00,3.256592e+00,3.306308e+00,5.533936e+00,5.868896e+00,7.999756e+00,1.400000e+02

## Preparación de los datos para Árboles de Decisión Clasificación

Para este ejemplo vamos a implementar un clasificador Árboles de Decisión Clasificación, para este algoritmo se requiere todas las variables independientes, para nuestro caso serán las variables **Caracteristica**.

Ahora vamos a proceder a definir las variables de “X” y “y” que vamos emplear en nuestro modelo.

Para “X” vamos a utilizar todas las variables de caracteristicas, por lo que la igualamos a las primeras 4 columnas.

In [37]:
dataset.head()

   Feature_1  Feature_2  Feature_3  Feature_4  Feature_5  Feature_6  Activity
0  -1.028626  -0.105919  -0.264525  -1.235359  -0.162986  -0.483125       1.0
1  -1.046406  -0.061666  -0.255959  -1.074173  -0.275747  -0.387487       1.0
2  -1.009987  -0.054528  -0.205398  -0.803832  -0.282078  -0.316955       1.0
3  -0.988288  -0.080090  -0.184195  -0.735864  -0.302880  -0.239320       1.0
4  -0.933698  -0.110635  -0.185413  -0.703047  -0.189211  -0.102410       1.0

In [39]:
caracteristica = dataset[['Activity']]
caracteristica

         Activity
0             1.0
1             1.0
2             1.0
3             1.0
4             1.0
...           ...
1193327       3.0
1193328       3.0
1193329       3.0
1193330       3.0
1193331       3.0

[1193332 rows x 1 columns]

In [41]:
# verificamos los valores de la columna caracteristica
dataset['Feature_1'].unique()

array([-1.028626, -1.046406, -1.009987, ..., -1.012062, -1.018642,
       -1.022132])

In [43]:
#Seleccionamos todas las columnas de carasteristicas
X = dataset.iloc[:, 0:6]

In [45]:
print(X)

         Feature_1  Feature_2  Feature_3  Feature_4  Feature_5  Feature_6
0        -1.028626  -0.105919  -0.264525  -1.235359  -0.162986  -0.483125
1        -1.046406  -0.061666  -0.255959  -1.074173  -0.275747  -0.387487
2        -1.009987  -0.054528  -0.205398  -0.803832  -0.282078  -0.316955
3        -0.988288  -0.080090  -0.184195  -0.735864  -0.302880  -0.239320
4        -0.933698  -0.110635  -0.185413  -0.703047  -0.189211  -0.102410
...            ...        ...        ...        ...        ...        ...
1193327  -1.028311  -0.001951   0.000414  -1.004302   0.028621  -0.080702
1193328  -1.032170   0.013994  -0.000395  -0.988862   0.018858  -0.079051
1193329  -1.030855   0.015393   0.000422  -0.994323   0.024769  -0.080680
1193330  -1.031453   0.016756  -0.000518  -0.997044   0.019952  -0.078802
1193331  -1.031150   0.003816   0.000757  -1.005943   0.023212  -0.081320

[1193332 rows x 6 columns]

Por su parte, “y” será igual a los datos correspondientes a “etiquetas” por lo que igualamos esta variable a la ultima columna.

In [48]:
#Defino los datos correspondientes a las etiquetas
y = dataset['Activity']

In [50]:
print(y)

0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
1193327    3.0
1193328    3.0
1193329    3.0
1193330    3.0
1193331    3.0
Name: Activity, Length: 1193332, dtype: float64

Recuerda que “y” cuenta con una sola columna con solamente ceros y unos corresponden a lluvia nublado o sin lluvia nublada respectivamente

## Implementación de Árboles de Decisión Clasificación

Definido “X” y “y” ya podemos realizar la separación correspondiente a los datos de prueba y entrenamiento para ello importamos la respectiva librería y procedemos a utilizar train_test_split para separar los datos.

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor, plot_tree

Para la separación de los datos, vamos a tomar un 20% de los mismos para utilizarlos como prueba una vez que hayamos obtenido el modelo.

In [58]:
#Separo los datos de "train" en entrenamiento y prueba para probar los algoritmos
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Seguidamente definimos el algoritmo, entonces decimos desde skelarn.tree importamos DecisionTreeClasiffier. Acá lo que indicamos es que desde el modulo de árboles de skelearn, vamos a importar el algoritmo de árboles de decisión clasificación, recuerda que ese algoritmo también funciona para problemas de regresión.

In [61]:
#Arboles de decisión
algoritmo_w = DecisionTreeClassifier(criterion='entropy')

Ahora definimos el algoritmo y lo configuramos para crear el modelo y entrenarlo. En este caso el único parámetro que vamos a configurar es el referente a “criterion” que se refiere a la medida de selección. Por defecto este parámetro viene configurado con el índice Gini pero para nuestro ejercicio lo voy a cambiar por “entropy” o entropía en español. Para entender mejor esto te recomiendo que buques la información publicada sobre la librería scikit learn para este algoritmo.

Definido esto ahora entrenamos el algoritmo, utilizando la instrucción fit() junto con los datos de entrenamiento separados previamente.

In [64]:
#Entreno el modelo
algoritmo_w.fit(X_train, y_train)
print(algoritmo_w)

DecisionTreeClassifier(criterion='entropy')

## Verificación del modelo desarrollado

A llegado el momento de verificar que tan preciso es el modelo desarrollado para ello utilizamos modulo `score` de los Datos de Prueba.

In [67]:
precision = algoritmo_w.score(X_test, y_test)
print('Precisión del modelo Datos Prueba: ')
print(precision)

Precisión del modelo Datos Prueba:
0.8621594103918849

El resultado de este calculo es de 0,966 un valor bastante aceptable.

Con esto podemos concluir que con este algoritmo también podemos obtener muy buenos resultados con este conjunto de datos. Ya queda de tu parte si deseas mejorarlo y ver si es posible obtener algo más preciso, para ello puedes modificar los datos de la configuración del algoritmo, por ejemplo cambiando la medida de selección.

In [69]:
precision2=algoritmo_w.score(X_train, y_train)
print('Precisión del modelo Datos Entrenamiento: ')
print (precision2)

Precisión del modelo Datos Entrenamiento:
1.0

**eso se llama SOBREAJUSTE**

## Gráficamos nuestro Árbol

Importamos Librerias para graficar

instalar `conda install -c anaconda graphviz`

instalar `conda install -c conda-forge python-graphviz`

In [74]:
!pip install graphviz
from sklearn.tree import DecisionTreeClassifier, export_graphviz
import graphviz
import matplotlib.pyplot as plt

Requirement already satisfied: graphviz in c:\users\usuario\anaconda3\lib\site-packages (0.20.3)

Generamos archivo `.dot` que contiene la grafica

In [ ]:
plt.figure(figsize=(5, 10))
plot_tree(algoritmo_w, filled=True, feature_names=X.columns, rounded=True)
plt.show()

Creamos la gráfica

In [ ]:
caract = X.shape[1]
plt.barh(range(caract), algoritmo_w.feature_importances_)
plt.yticks(np.arange(caract),('Feature_1','Feature_1','Feature_3', 'Feature_4',
                               'Feature_5','Feature_6')
plt.xlabel("Importancia de las características")
plt.ylabel("Características")
plt.show()

## Volvemos a entrenar el modelo con 3 niveles evitando sobreajuste

In [ ]:
#Arboles de decisión
algoritmo_w = DecisionTreeClassifier(max_depth=3)

In [ ]:
#Entreno el modelo
algoritmo_w.fit(X_train, y_train)

In [ ]:
precision = algoritmo_w.score(X_test, y_test)
print("Precisión del modelo Datos Prueba:")
print(precision)

In [ ]:
precision2 = algoritmo_w.score(X_train, y_train)
print("Precisión del modelo Datos Entrenamiento:")
print(precision2)

In [ ]:
plt.figure(figsize=(5, 10))
plot_tree(algoritmo_w, filled=True, feature_names=X.columns, rounded=True)
plt.show()