### Ejercicio 1 - Investigar Como? Abrir archivo `xlsx`

<div class="well">Abrilr el archivo <code>titanic.xlsx</code> (archivo en carpeta /data)
    
   1.- <strong>Usar nueva librer√≠a!!.</strong>

   2.- <strong>Explorar la data.</strong>
</div>

In [6]:
import pandas as pd

# Especifica la ruta al archivo
archivo_excel = 'DATA/titanic.xlsx'


# Carga el archivo Excel en un objeto ExcelFile
excel_file = pd.ExcelFile(archivo_excel)

# Mostrar las hojas del archivo
sheet_names = excel_file.sheet_names
print("Hojas en el archivo:", sheet_names)

# Seleccionar la primera hoja
df = pd.read_excel(excel_file, sheet_name=sheet_names[0])

# Mostrar algunas filas para explorar la data
print("Primeras 10 filas de la hoja seleccionada:")
print(df.head(10))

Hojas en el archivo: ['complete', 'numeric']
Primeras 10 filas de la hoja seleccionada:
   pclass  survived                                             name     sex  \
0       1         1                                   Haghish, E. F.    male
1       1         1                    Allen, Miss. Elisabeth Walton  female
2       1         1                   Allison, Master. Hudson Trevor    male
3       1         0                     Allison, Miss. Helen Loraine  female
4       1         0             Allison, Mr. Hudson Joshua Creighton    male
5       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
6       1         1                              Anderson, Mr. Harry    male
7       1         1                Andrews, Miss. Kornelia Theodosia  female
8       1         0                           Andrews, Mr. Thomas Jr    male
9       1         1    Appleton, Mrs. Edward Dale (Charlotte Lamson)  female

       age  sibsp  parch  ticket      fare       cabin embarked boat   body  \
0  30.0000      0      0   24058   26.5500  A1 Special        S    1    NaN
1  29.0000      0      0   24160  211.3375          B5        S    2    NaN
2   0.9167      1      2  113781  151.5500     C22 C26        S   11    NaN
3   2.0000      1      2  113781  151.5500     C22 C26        S  NaN    NaN
4  30.0000      1      2  113781  151.5500     C22 C26        S  NaN  135.0
5  25.0000      1      2  113781  151.5500     C22 C26        S  NaN    NaN
6  48.0000      0      0   19952   26.5500         E12        S    3    NaN
7  63.0000      1      0   13502   77.9583          D7        S   10    NaN
8  39.0000      0      0  112050    0.0000         A36        S  NaN    NaN
9  53.0000      2      0   11769   51.4792        C101        S    D    NaN

                         home.dest
0                  Odense, Denmark
1                     St Louis, MO
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
5  Montreal, PQ / Chesterville, ON
6                     New York, NY
7                       Hudson, NY
8                      Belfast, NI
9              Bayside, Queens, NY

C:\Users\emman\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():