## <font color=#33A5FF>****EJERCICIOS****<tfont>

### Ejercicio 3 - Investigar Como? Filtrar

In [17]:
import pandas as pd

 1.-Selecci칩n de los <strong>hombres</strong> que abordaron el titanic.
    
</div>

In [18]:
# Leer el archivo de Excel
data = pd.read_excel("data/titanic.xlsx")

# Filtrar solo hombres 
filtro_hombres = (data["Sexo"] == "Masculino")

hombres_titanic = data[filtro_hombres] 

# Mostrar los primeros 5 del DataFrame 
print(hombres_titanic.head())

   Id_Pasajero  Survived  Clase                          Nombre       Sexo  \
0            1         0      3         Braund, Mr. Owen Harris  Masculino
4            5         0      3        Allen, Mr. William Henry  Masculino
5            6         0      3                Moran, Mr. James  Masculino
6            7         0      1         McCarthy, Mr. Timothy J  Masculino
7            8         0      3  Palsson, Master. Gosta Leonard  Masculino

   Edad  Familiares    Tiquete  Tarifa Cabina Embarcado
0  22.0           0  A/5 21171    7.25    NaN         S
4  35.0           0     373450    8.05    NaN         S
5   NaN           0     330877    8.46    NaN         Q
6  54.0           0      17463   51.86    E46         S
7   2.0           1     349909   21.08    NaN         S

2.-Selecci칩n de las <strong>mujeres</strong> que abordaron el titanic.
    
</div>

In [19]:
# Leer el archivo de Excel
data = pd.read_excel("data/titanic.xlsx")

# Filtrar solo mujeres 
filtro_mujeres = (data["Sexo"] == "Femenino") 

mujeres_titanic = data[filtro_mujeres]  

# Mostrar los primeros 5 del DataFrame 
print(mujeres_titanic.head())

   Id_Pasajero  Survived  Clase  \
1            2         1      1
2            3         1      3
3            4         1      1
8            9         1      3
9           10         1      2

                                              Nombre      Sexo  Edad  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  Femenino  38.0
2                             Heikkinen, Miss. Laina  Femenino  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  Femenino  35.0
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  Femenino  27.0
9                Nasser, Mrs. Nicholas (Adele Achem)  Femenino  14.0

   Familiares           Tiquete  Tarifa Cabina Embarcado
1           0          PC 17599   71.28    C85         C
2           0  STON/O2. 3101282    7.93    NaN         S
3           0            113803   53.10   C123         S
8           2            347742   11.13    NaN         S
9           0            237736   30.07    NaN         C

 3.-Personas con <strong>mas de 30 a침os</strong> que abordaron el titanic.    
</div>

In [20]:
# Leer el archivo de Excel
data = pd.read_excel("data/titanic.xlsx")

# Filtrar personas mayores de 30 a침os 
filtro_edad = (data["Edad"] > 30) 

mayores_30_titanic = data[filtro_edad] 

# Mostrar los primeros 5 del DataFrame 
print(mayores_30_titanic.head())

    Id_Pasajero  Survived  Clase  \
1             2         1      1
3             4         1      1
4             5         0      3
6             7         0      1
11           12         1      1

                                               Nombre       Sexo  Edad  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...   Femenino  38.0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)   Femenino  35.0
4                            Allen, Mr. William Henry  Masculino  35.0
6                             McCarthy, Mr. Timothy J  Masculino  54.0
11                           Bonnell, Miss. Elizabeth   Femenino  58.0

    Familiares   Tiquete  Tarifa Cabina Embarcado
1            0  PC 17599   71.28    C85         C
3            0    113803   53.10   C123         S
4            0    373450    8.05    NaN         S
6            0     17463   51.86    E46         S
11           0    113783   26.55   C103         S

4.-Personas que <strong>pertenecen a la clase 1 y 2</strong> del titanic.
    
</div>

In [22]:
# Leer el archivo de Excel
data = pd.read_excel("data/titanic.xlsx")

# Filtrar personas que pertenecen a la clase 1 y 2 
filtro_clase = data["Clase"].isin([1, 2]) 

clase_1_2_titanic = data[filtro_clase] 

# Mostrar los primeros 5  del DataFrame 
print(clase_1_2_titanic.head())

    Id_Pasajero  Survived  Clase  \
1             2         1      1
3             4         1      1
6             7         0      1
9            10         1      2
11           12         1      1

                                               Nombre       Sexo  Edad  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...   Femenino  38.0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)   Femenino  35.0
6                             McCarthy, Mr. Timothy J  Masculino  54.0
9                 Nasser, Mrs. Nicholas (Adele Achem)   Femenino  14.0
11                           Bonnell, Miss. Elizabeth   Femenino  58.0

    Familiares   Tiquete  Tarifa Cabina Embarcado
1            0  PC 17599   71.28    C85         C
3            0    113803   53.10   C123         S
6            0     17463   51.86    E46         S
9            0    237736   30.07    NaN         C
11           0    113783   26.55   C103         S

5.-Personas que <strong>registraron su edad.</strong>
    
</div>

In [23]:
# Leer el archivo de Excel
data = pd.read_excel("data/titanic.xlsx")

# Filtrar personas que registraron su edad
filtro_edad_registrada = data["Edad"].notnull() 

edad_registrada_titanic = data[filtro_edad_registrada]  

# Mostrar los primeros 5 del DataFrame 
print(edad_registrada_titanic.head())

   Id_Pasajero  Survived  Clase  \
0            1         0      3
1            2         1      1
2            3         1      3
3            4         1      1
4            5         0      3

                                              Nombre       Sexo  Edad  \
0                            Braund, Mr. Owen Harris  Masculino  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...   Femenino  38.0
2                             Heikkinen, Miss. Laina   Femenino  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)   Femenino  35.0
4                           Allen, Mr. William Henry  Masculino  35.0

   Familiares           Tiquete  Tarifa Cabina Embarcado
0           0         A/5 21171    7.25    NaN         S
1           0          PC 17599   71.28    C85         C
2           0  STON/O2. 3101282    7.93    NaN         S
3           0            113803   53.10   C123         S
4           0            373450    8.05    NaN         S