<center> <h1>Universidad Nacional de San Agustín de Arequipa</h1> </center> 
<center> <h1>Escuela Profesional de Ingeniería de Telecomunicaciones</h1> </center> 

<center> <h1> </h1> </center> 

<center><img src="https://user-images.githubusercontent.com/19308295/115939517-f1c6fe80-a463-11eb-989c-812ab4942586.png" width="380" height="4200"></center>

<center> <h2>Ingeniero Renzo Bolivar - Docente DAIE</h2> </center>

<center> <h1>Curso : Computación 2</h1> </center>

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****EJERCICIOS****<tfont>

### Ejercicio 4 - Investigar Como?  Seleccionar Filas y Columnas

<div class="well">Crear <strong>Selección</strong> del DataFrame con: 
   
   1.-Selección de los <strong>nombres</strong> de pasajeros <strong>mayores de 30 años.</strong>
   
   2.-Selección de los <strong>nombres</strong> de las <strong>mujeres</strong> que tienen familiares que abordaron el titanic.
    
   3.-Selección de las <strong>filas 0 a 10 y las columnas 2 a 6.</strong>
    
   
</div>

In [38]:
import pandas as pd

In [49]:
# Leer los datos
pasajeros = pd.read_csv('DATA/titanic_tabs.csv', sep = '\t')
# Seleccionar nombres de los pasajeros mayores a 30 años
pasajeros_mayores_30 = pasajeros[pasajeros['Age'] > 30]['Name']
# Imprimir los nombres de los pasajeros mayores a 30 años
print(pasajeros_mayores_30)

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
6                                McCarthy, Mr. Timothy J
11                              Bonnell, Miss. Elizabeth
13                           Andersson, Mr. Anders Johan
15                      Hewlett, Mrs. (Mary D Kingcome)
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
30                              Uruchurtu, Don. Manuel E
33                                 Wheadon, Mr. Edward H
35                        Holverson, Mr. Alexander Oskar
40        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
52              Harper, Mrs. Henry Sleeper (Myna Haxtun)
54                        Ostby, Mr. Engelhart Cornelius
61                                   Icard, Miss. Amelie
62                           Harris, Mr. Henry Birkhardt
70                            Jenkin, Mr. Stephen Curnow
74                                         Bing, Mr. Lee
85     Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
92                           Chaffee, Mr. Herbert Fuller
94                                     Coxon, Mr. Daniel
96                             Goldschmidt, Mr. George B
98                  Doling, Mrs. John T (Ada Julia Bone)
99                                     Kantor, Mr. Sinai
103                           Johansson, Mr. Gustaf Joel
104                       Gustafsson, Mr. Anders Vilhelm
108                                      Rekic, Mr. Tido
110                       Porter, Mr. Walter Chamberlain
116                                 Connors, Mr. Patrick
122                                 Nasser, Mr. Nicholas
123                                  Webber, Miss. Susan
124                          White, Mr. Percival Wayland
129                                   Ekstrom, Mr. Johan
130                                 Drazenoic, Mr. Jozef
132       Robins, Mrs. Alexander A (Grace Charity Laury)
137                          Futrelle, Mr. Jacques Heath
148             Navratil, Mr. Michel ("Louis M Hoffman")
149                    Byles, Rev. Thomas Roussel Davids
150                           Bateman, Rev. Robert James
152                                     Meo, Mr. Alfonzo
153                      van Billiard, Mr. Austin Blyler
155                          Williams, Mr. Charles Duane
Name: Name, dtype: object

In [46]:
# Selección de los nombres de las mujeres que tienen familiares que abordaron el Titanic
mujeres= pasajeros[(pasajeros['Sex'] == 'female') 
                                   & ((pasajeros['SibSp'] > 0) | 
                                      (pasajeros['Parch'] > 0))]['Name']
print('Nombres de mujeres con familiares a bordo:')
print(mujeres)

Nombres de mujeres con familiares a bordo:
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
31        Spencer, Mrs. William Augustus (Marie Eugenie)
38                    Vander Planke, Miss. Augusta Maria
39                           Nicola-Yarred, Miss. Jamila
40        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
41     Turpin, Mrs. William John Robert (Dorothy Ann ...
43              Laroche, Miss. Simonne Marie Anne Andree
49         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
52              Harper, Mrs. Henry Sleeper (Myna Haxtun)
53     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
58                          West, Miss. Constance Mirium
68                       Andersson, Miss. Erna Alexandra
71                            Goodwin, Miss. Lillian Amy
85     Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
88                            Fortune, Miss. Mabel Helen
98                  Doling, Mrs. John T (Ada Julia Bone)
109                                  Moran, Miss. Bertha
111                                 Zabour, Miss. Hileni
113                              Jussila, Miss. Katriina
119                    Andersson, Miss. Ellis Anna Maria
128                                    Peter, Miss. Anna
132       Robins, Mrs. Alexander A (Grace Charity Laury)
133        Weisz, Mrs. Leopold (Mathilde Francoise Pede)
136                         Newsom, Miss. Helen Monypeny
140                        Boulos, Mrs. Joseph (Sultana)
142    Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...
147                     Ford, Miss. Robina Maggie "Ruby"
151                    Pears, Mrs. Thomas (Edith Wearne)
Name: Name, dtype: object

In [48]:
# 3. Selección de las filas 0 a 10 y las columnas 2 a 6
seleccion= pasajeros.iloc[0:11, 2:7]
print('Filas 0 a 10 y columnas 2 a 6:')
print(seleccion)

Filas 0 a 10 y columnas 2 a 6:
    Pclass                                               Name     Sex   Age  \
0        3                            Braund, Mr. Owen Harris    male  22.0
1        1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2        3                             Heikkinen, Miss. Laina  female  26.0
3        1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4        3                           Allen, Mr. William Henry    male  35.0
5        3                                   Moran, Mr. James    male   NaN
6        1                            McCarthy, Mr. Timothy J    male  54.0
7        3                     Palsson, Master. Gosta Leonard    male   2.0
8        3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
9        2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0
10       3                    Sandstrom, Miss. Marguerite Rut  female   4.0

    SibSp
0       1
1       1
2       0
3       1
4       0
5       0
6       0
7       3
8       0
9       1
10      1

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)